<launch>
     <!--  <param name="robot_description" command="cat $(find publisher_file)/model.xml" /> -->
     <!--   <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" /> -->
        <node name="state_publisher" pkg="publisher_file" type="state_publisher" output="screen"/>
</launch>